{
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": false
    }
  },  
  "extends": "airbnb-base",
    "rules": {
      "func-names": ["error", "never"],
      "no-param-reassign": 0,
      "prefer-template": 1,
    },
    "env" : {
      "browser": true,
      "node": false
    },
    "globals" : {
      "window": true,
      "document" : true,
      "DXAJS" : true
    },
    "plugins": []
  }